# how to assign string values in variable

In [22]:
name = "Muhammad Qasim" # 1
print(name,type(name))

Muhammad Qasim <class 'str'>

In [6]:
name = 'Muhammad Qasim' # 2
print(name,type(name))

Muhammad Qasim <class 'str'>

In [9]:
#we have to define space characters (\n \t )
data = 'name:\t\tQasim\nfather Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father Name:	Muhammad Aslam
Batch:		 36-37

In [12]:
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tQasim\nfather\'s Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father's Name:	Muhammad Aslam
Batch:		 36-37

In [15]:
data = "PIAIC \" ss \" Pakistan zinda bad"
print(data)

PIAIC " ss " Pakistan zinda bad

In [17]:
name = "Muhammad \"Q\"asim" # 1
print(name,type(name))

Muhammad "Q"asim <class 'str'>

In [19]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Muhammad Qasim\nFather's Name:    Muhammad Aslam\nBatch:            36-37\n"

In [20]:
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [23]:
name

'Muhammad Qasim'

In [24]:
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [25]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply varialbe name rules

In [26]:
1name = "Qasim"

SyntaxError: invalid syntax (<ipython-input-26-c60abe3a92ae>, line 1)

In [27]:
_1name = "qasim"
_1name

'qasim'

In [30]:
father_name1 = "Muhammad Aslam"
father_name1

'Muhammad Aslam'

In [31]:
father_Name1 = "Muhammad Aslam"
father_Name1

'Muhammad Aslam'

In [32]:
father@Name1 = "Muhammad Aslam"
father@Name1

SyntaxError: can't assign to operator (<ipython-input-32-a86e3b01689e>, line 1)

In [33]:
name = "Muhammad Qasim"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [34]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [35]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formation

In [41]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"

print(name, father_name, education, designation)

Muhammad Qasim Muhammad Aslam MS Chief Data Scientist

In [39]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"


print(name, father_name, education, designation, sep="\n")

Muhammad Qasim
Muhammad Aslam
MS
Chief Data Scientist

In [40]:
print('a')
print('b')

a
b

In [51]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

# + operator on string join two string variable
result = "PIAIC Teacher Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [53]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {}
 Father's Name: {}
 Education: {}
 Designation: {}
 Height:{}
""".format(name,father_name,education,designation,height) # now we don't need to type cast


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [55]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [56]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [57]:
name

'Muhammad Qasim'

In [ ]:
 0 1 2 3
(a,b,c,e)

In [48]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [52]:
int('100')

100

In [49]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [58]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: Pakistan zinda bad
Pakistan zinda bad

In [59]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Asif
Father's NameAbid
EducationMaster
Your DesignationData Scientist
Your Height5.8

PIAIC Teacher Card
 Name: Asif
 Father's Name: Abid
 Education: Master
 Designation: Data Scientist
 Height:5.8

In [ ]:
# String Method